.hiddenContent{
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 524px;
    height: 643px;
    background-color: var(--azul-escuro);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}