<div class="hiddenContent">
    <main>
        <div id="container">
            <section>
                <h2 class="poppins">Bem vindo a <b>Cara<span style="color: var(--azul-claro)">Cursos</span></b>
                </h2>
                <h1 class="poppins">Entrar</h1>
            </section>
            <section>
                <div class="input-content">
                    <label for="cpf" class="poppins">Entrar com CPF:</label>
                    <input type="text" name="cpf" class="poppins" placeholder="CPF" maxlength="11">
                </div>
                <div class="input-content">
                    <label for="senha" class="poppins">Entrar com senha:</label>
                    <input type="password" name="Senha" class="poppins" placeholder="senha">
                </div>
                <div class="input-content">
                    <div>
                        <input type="checkbox">
                        <p class="poppins">Esqueci minha Senha</p>
                    </div>
                    <button>Entrar</button>
                </div>
            </section>
        </div>
    </main>
</div>
